{% extends "base.html" %}

{% block content %}

    
        
            
                
                Get Weather
            
        
        
        {% if weather and weather.success %}
        
            
                
                    {{ weather.city }}, {{ weather.country }}
                    {{ weather.temp }}°C
                    Feels like: {{ weather.feels_like }}°C
                    {{ weather.description }}
                    Humidity: {{ weather.humidity }}%
                    Wind: {{ weather.wind_speed }} m/s
                
                
                    
                
            
        
        {% endif %}
    

{% endblock %}